@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@layer components {
  .leaflet-container {
    @apply rounded-xl border-2 border-indigo-200;
  }
  
  .leaflet-popup-content-wrapper {
    @apply rounded-lg shadow-lg;
  }
  
  .leaflet-popup-tip {
    @apply bg-white;
  }
}
